.feacture-post{
    &__content{
        text-align: center;
        p{
            margin: 15px 0;
        }
    }
    &__grid{
        display: flex;
        //align-items: center;
        //justify-content: center;
        flex-wrap: wrap;
    }
    &__blog{
        padding: 15px;
        flex: 0 0 100%;
        text-align: center;
        @include media-breakpoint-up(md) {
            flex: 0 0 50%;
        }
        @include media-breakpoint-up(lg) {
            flex: 0 0 33.33%;
        }
        @include media-breakpoint-up(xl) {
            flex: 0 0 25%;
        }
        span{
            font-size: 12px;
            color: $paragraph-font;
        }
        a{
            text-align: center;
            h4{
                color: $paragraph-font;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 5px;
                
            }
        }
    }
    &__image{
        margin-bottom: 20px;
        img{
            width: 100%;
            height: 100%;
            @include media-breakpoint-up(md) {
                height: 200px;
                object-fit: cover;
            }
        }
    }
    &__btn{
        text-align: center;
        margin-top: 30px;
    }
    &--three{
        .feacture-post__blog{
            flex: 0 0 100%;
            text-align: center;
            @include media-breakpoint-up(md) {
                flex: 0 0 33.33%;
            }
        }
    }
    &--two{
        .feacture-post__blog{
            flex: 0 0 100%;
            text-align: center;
            @include media-breakpoint-up(md) {
                flex: 0 0 50%;
            }
        }
    }
    &--dark{
        .feacture-post__content h2 ,  .feacture-post__content p , .feacture-post__blog a h4 , .feacture-post__blog span{
            color: $white;
        }
    }
}