.hero{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    &__heading{
        color: $white;
        margin-bottom: 30px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
        }
    }
    .inner_grid{
        margin: 30px 0;
        padding: 40px 0;
        @include media-breakpoint-up(lg) {
            margin: 70px 0;
            padding: 40px 0;
        }
    }
    &__subhead{
        color: $white;
        margin-bottom: 34px;
        font-family:$quicksand;
    }
    p{
        color: $white;
    }
    &__btn-group{
        margin-top: 20px;
@include media-breakpoint-up(md) {
    margin-top: 40px;
}
        a{
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
            @include media-breakpoint-up(md) {
                width: auto;
            }
            &:first-child{
                margin-right: 0;
                @include media-breakpoint-up(md) {
                    margin-right: 60px;
                }
            }
        }
    }
    &--right{
        text-align: right;
    }
    &--center{
        text-align: center;
        .inner_grid{
            margin: 0;
            padding: 40px 0 0 0;
        }
       
        .hero__heading{
            color: $white;
        }
        p{
            color: #222;
            margin-bottom: 40px;
            padding: 0;
            a{
                border-bottom: 1px solid $sky;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }
    &--testimonial{
        padding: 50px 0;
       position: relative;
       @include media-breakpoint-up(lg) {
           padding: 100px 0;
       }
       &::after{
           position: absolute;
           content: '';
           top: 0;
           right: 0;
           left: 0;
           bottom: 0;
           background-color: #121927;
           opacity: 50%;
       }
       .hero__heading{
           font-size: 35px;
           line-height: 50px;
           font-weight: 500;
           @include media-breakpoint-up(md) {
               font-size: 72px;
               line-height: 80px;
           }
       }
       .hero__subhead{
               width: 75%;
       }
       .inner_grid{
           padding: 0;
           margin: 0;
           z-index: 2;
           position: relative;
          
       }
   }
}

.heroCta-fullwidth{
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    p{
        color: $white;
    }
    .inner_grid{
        padding: 40px 0;
    }
    &--twocolumn{
        padding-bottom: 40px;
        .inner_grid{
            padding: 40px 20px 0;
        }
        p{
            text-align: left;
        }
        ul{
            li{
                text-align: left;
                color: $white;
                margin-bottom: 10px;
            }
        }
    }
}
.hero-header{
    text-align: center;
    &__heading{
        color: $white;
    }
}