.media-centered{
    iframe{
        width: 100%;
    }
}
.center-content-module{
    .color-black{
      h3{
        color: $color_black;
      }
      p{
        color: $color_black;
      }
    }
    .color-white{
        h3{
          color: $white;
        }
        p{
          color: $white;
        }
      }
    &__column{
        margin: 30px 0;
        h3{
            color: $white;
        }
        p{
            color: $white;
            a{
                color: $white;
                border-bottom: 1px solid #ffffff4d;
                &:hover{
                    border-bottom: 1px solid #ffffff99;
                    color: #ffffff99;
                }
            }
        }
    }
    &--color-black{
        h3{
            color: #4a4a4a;
        }
        p{
            color: $paragraph-font;
        }
    }
    &__tab_module{
       padding-top: 40px;
        .center-heading{
            text-align: left;
            a{
                border-bottom: 1px solid #4a4a4a4d;
                &:hover{
                color: #4a4a4a99;
                }
            }            
            
        }
    }
    &__btn{
        padding-top: 20px;
        text-align: center;
    }
    &--large{
        h3{
            font-size: 35px;
    line-height: 50px;
    // font-family: $all-gothic;
    font-family:$quicksand;
    font-weight: 600;
    margin: 0;  
    @include media-breakpoint-up(md) {
        font-size:75px;
        line-height: 80px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 90px;
        line-height: 90px;
    }
        }
    }
}
.sales-items{
    margin-bottom: 80px;
    .whr-title{
        a{
            border-bottom: 1px solid #e279404d;
            font-weight: 600;
            font-style: normal;
            font-size: 15.25px;
            letter-spacing: .1em;
            line-height: 1.55em;
            text-transform: uppercase;
            color: $orange;
            font-family:$red-hat-display;
        }
    }
}