.one-column-module{
    &__row{
        display: block;
        @include media-breakpoint-up(md){
            display: flex;
        } 
    }
    &__image{
        width: 100%;
        padding-right: 0; 
        text-align: center;
        margin-bottom: 30px;
        @include media-breakpoint-up(md){
            width: 50%;
            padding-right: 50px; 
        }   
        @include media-breakpoint-up(xl){
            width: 45%;
        }
        @include media-breakpoint-up(xxl){
            width: 28%;
        }
    }
    &__descreption{
        h3{
            font-weight: 600;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    color: #4a4a4a;
    margin-bottom: 30px;
    @include media-breakpoint-up(md){
        font-size: 40px;
        letter-spacing: 0em;
        line-height: 1.2em
    }
        }
    }
    &__btn{
        margin-top: 30px;
        a{
            margin: 0 !important;
        }
    }
}