.team{
    &__module{
        text-align: center;
        margin-bottom: 30px;
        a{
            img{
                height: 270px;
                width: 270px;
                margin: 0 auto 15px;

            }
        }
        h6{
            font-family:$quicksand;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            letter-spacing: 0em;
            line-height: 1.2em;
            color: #333;
            text-transform: none;
        }
        span{
            font-family:$red-hat-display;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            letter-spacing: 0em;
            line-height: 1.8em;
            text-transform: none;
            color: #333;
        }
    }
}