// color
$grey: #b0b0b0;
$orange: #e27940;
$white: #fff;
$sky: #0595a8;
$black: #000;
$color_black: #4a4a4a;
$cream:#eef7ef;
$footer-bg: #363636;
$light-green: #72b296;
$bg-offwhite: #f5f5f5;
$large-font: #4a4a4a;
$blog-category-color: #b0b0b0;
$paragraph-font :#222222;

$blue: #0D0D22;

// new colors

$primary-color: #0596A8;
$secondary-color: #71B095;
$tertiary-color: #E27A41;
$yellow-btn: #D8C172;
$pink-link: #D37271;


//new-fonts
$quicksand: 'Quicksand';
$red-hat-display:'Red Hat Display';

// fonts

// $proxima-nova: 'proxima_novaregular';
// $aliceregular: 'aliceregular';

// $all-gothic: "all-round-gothic", sans-serif;
// $arboria: "arboria", sans-serif;

// font-family: "all-round-gothic", sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: "all-round-gothic", sans-serif;
// font-weight: 700;
// font-style: normal;

// font-family: "arboria", sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: "arboria", sans-serif;
// font-weight: 400;
// font-style: italic;

// font-family: "arboria", sans-serif;
// font-weight: 700;
// font-style: normal;

// font-family: "arboria", sans-serif;
// font-weight: 700;
// font-style: italic;

//Brand Colors: Standard
// Teal: #0596A8;
// Green: #71B095;
// Orange: #E27A41;
// Yellow: #D8C172;
// Pink: #D37271;

//Lighter Options
// Light Teal: #9BD5DC;
// Light Green: #AAD0BF;
// Light Orange: #F1BCA0;
// Light Yellow: #ECE0B9;
// Light Pink: #E9B9B8;

$transition: 350ms all;
