.related-articles {

    //margin: 50px 0;
    &__heading {
        h2 {
            font-weight: 600;
            font-size: 38px;
            line-height: 47px;
            margin-bottom: 40px;
        }
    }

    &__block {
        background: #FFFFFF;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        margin-bottom: 20px;
        display: block;
        .row {
            background: #FFFFFF;
            box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.16);
            border-radius: 20px;
            margin: 0;
        }
    }

    &__image {
        img {
            width: 100%;
            border-radius: 20px;
            @include media-breakpoint-up(lg) {
                border-radius: 20px 0 0 20px;
            }
        }
    }
    &__content{
        padding: 15px;
        h6{
            font-weight: 600;
            font-size: 22px;
            line-height: 28px;
            color: black;
            margin-bottom: 20px;
        }
        .links{
            font-weight: 600;
            font-size: 22px;
            line-height: 28px;
            color: $orange;
            margin-top: 20px;
            span{
                margin-left: 15px;
            }
        }
    }
}