.two-column-module{
    &__row{
       
    }
    &__box{
        padding: 17px;
    }
    &__image{
        margin-bottom: 30px;
        img{
            width: 100%;
        }
    }
    &__button{
        margin-top: 30px;
    }
}

.two-col-module-icon{
    padding-top: 60px;
    &__box{
     .descreption{
         margin-bottom: 40px;
         h6{
             color: $orange;
             font-weight: 600;
             font-style: normal;
             font-size: 15.25px;
             letter-spacing: .1em;
             line-height: 1.55em;
             text-transform: uppercase;
             margin-bottom: 20px;
         }
     }   
     .image-block{
         text-align: center;
          @include media-breakpoint-up(md){          
         text-align: left;
         }
     }
    }
    &__two{
     .row{
         margin: 0 0;
     }
    }
 }
 .post_iconWithcircle_Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 280px;
    margin: 0 auto;
  }
  .post_iconBox {
    background-color: #f4ead7;
    padding: 20px 30px;
    text-align: center;
    height: 150px;
    width: 320px;
    margin:0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .post_iconBox_heading {
    font-family: "Quicksand",sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
  }
  .post_iconCircle {
    width: 100px;
    height: 100px;
    background-color: #d8b86e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    bottom: 22px;
    font-weight: 200;
    font-size: 55px;
    font-family: "Quicksand", sans-serif;
  }

  @media only screen and (max-width:1200px) {
    .post_iconBox {
        margin: 0 30px;
        width: 270px;
    }
    .post_iconBox_heading {
        font-size: 22px;
    }
}
  @media only screen and (max-width:991px) {
    .post_iconWithcircle_Box {
        margin: 50px auto 0px auto;
    }
    .post_iconBox {
        margin: 0;
        width: 320px;
    }
}