html {
    overflow-x: hidden;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

ol {
    //    list-style: disc;
        li{
            // list-style: disc;
            font-size: 18px;
        line-height: 30px;
        margin: 0;
        font-family:$red-hat-display;
        font-weight: 400;
        font-style: normal;   
        text-transform: capitalize;
    
        }
       
    }
ul {
//    list-style: disc;
    li{
        // list-style: disc;
        font-size: 18px;
    line-height: 30px;
    margin: 0;
    font-family:$red-hat-display;
    font-weight: 400;
    font-style: normal;   
    text-transform: capitalize;

    }
   
}
// .row{
//     margin: 0 15px;
// }
a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: $sky;
    font-family:$red-hat-display;
    // border-bottom: 1px solid #0595a84d;
    // &:hover {
    //    opacity: 0.5;
    // }
}
.page-container{
        max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
// typography
h1 {
    font-size: 35px;
    line-height: 50px;
    // font-family: $all-gothic;
    font-family: $quicksand;
    font-weight: 600;
    margin: 0;  
    @include media-breakpoint-up(md) {
        font-size:75px;
        line-height: 80px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 90px;
        line-height: 90px;
    }
}

h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0;
    font-family: $quicksand;
    font-weight: 600;
    @include media-breakpoint-up(lg) {
        font-size: 48px;
        line-height: 56px;
    }
}

h3 {
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
    font-family:$quicksand;
    @include media-breakpoint-up(lg) {
        font-size: 40px;
    letter-spacing: 0em;
    line-height: 1.2em;
    }
}

h4 {
    font-size: 26px;
    line-height: 31px;
    margin: 0;
    font-family:$quicksand;
}

h5 {
    font-weight: 600;
    margin-bottom: 15px !important;
    color: #e27940;
    font-size: 16px;
    line-height: 29px;
    margin: 0;
    font-family:$quicksand;
}

h6 {
    // font-family: sofia-pro;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
    font-family:$quicksand;
}

p {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 15px 0;
    font-family:$red-hat-display;
    font-weight: 400;
    font-style: normal;       
    color: #222;
}


// buttons
.whitebtn{
    @include whitebtn;
    &--small{
        font-size: 16px;
        padding: 12px 26px;
    }
    &--medium-small{
        font-size: 16px;
        padding: 21px 34px;
    }  
    &.orange-btn{
        box-shadow: 0 2px 0 0 #d96120;
        border-color: $orange;
        background-color: $orange;
        color: $white;
        //margin: 0 15px;
        @include media-breakpoint-up(lg) {
            //margin: 0 50px;  
        }
    }
}
.btns {
    @include btns; 
}

.center-heading{
    color: $white;
    margin-bottom: 34px;
    text-align: center;
}
.left-heading{
    text-align: left;
}
.right-heading{
    text-align: right;
}
.box-padding{
    padding: 40px 15px;
   
}

// font color 
.color-white{
    color: $white;
    a{
        color: #fff;
        border-bottom: 1px solid #ffffff4d;
        &:hover{
            opacity: 0.5;
        }
    }
}
.color-black{
    color: #4a4a4a;
    
    a{
        color: #0595a8;
        border-bottom: 1px solid #0595a84d;
        &:hover{
            opacity: 0.5;
        }
    }
}

.center-module{
    text-align: center;
    img{
        margin-bottom: 30px;
    }
    p{color: $white;
    &:first-child{
        margin-bottom: 0;
    }
    }
}
.border-bottom{
    border-bottom-color: #b0b0b080;
    // padding-bottom: 40px;
    max-width: 885px ;
    margin:40px auto 40px;
}
.border-top{
    border-top-color: #b0b0b080;
    padding-bottom: 40px;
    max-width: 885px ;
    margin: 0 auto;
}
.link{
    color: $orange;
    font-family:$red-hat-display;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .15s ease-out;
    &::after{
        content: "\2192";
        padding-left: 0.7em;
        font-weight: 600;
        font-style: normal;
        font-size: 12px;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
}

.Singlebtn{
    text-align: center;
    &--left{
        text-align: left;
    }
    &--right{
        text-align: right;
    }
}
