.two-column-module{
    &__row{
       
    }
    &__box{
        padding: 17px;
    }
    &__image{
        margin-bottom: 30px;
        img{
            width: 100%;
        }
    }
    &__button{
        margin-top: 30px;
    }
}