.testimonial{
    background-color: $white;
    border-radius: 40px;
    z-index: 2;    
    &__column{
        //background-color: $white;
        padding:  30px 30px 60px 30px;
        // box-shadow: 0px 4.64315px 12.3817px rgb(0 0 0 / 10%);
        border-radius: 40px;
        position: relative;
    }
    &__client_info{
        img{
            border-radius: 50%;
            height: 55px;
            width: 55px;
            object-fit: cover;
            margin-bottom: 15px;
        }
        .Client-name{
            font-weight: 600;
            font-size: 20px;
            line-height: 18px;
            text-align: left;
            margin-bottom: 10px;
            color: $black;
        }
        .client-designation {
            color: #868992;
            font-weight: 600;
            font-size: 18px;
            line-height: 16px;
        }
        p{
            margin-top: 10px;
            color: #808389 !important;
        }
    }
    .slick-dots{
        bottom: 30px;
    }
    .slick-dots li button:before {
        font-size: 15px;        
    }
    .slick-dots li.slick-active button:before{
        opacity: 1;
        color: $orange;
    }
    .quote-image{
        position: absolute;
        top: 40px;
        right: 24px;
    }
}
