.cta-with-navigation{
    background-color: $bg-offwhite;
    text-align: center;
    .page-container {
        //padding: 15px;
        // @include media-breakpoint-up(md){          
        //     padding: 0;
        //     }
        p{
            margin-bottom: 0;
            a{
                color: $sky;
                border-bottom: 1px solid $sky;
                &:hover{
                    opacity: 0.5;
                }
                
            }
        }
    }
    &__heading{
        margin-bottom: 60px;
        color: #000000;
    }
    &__sub-heading{
        font-weight: 600;
        font-style: normal;
        font-size: 24px;
        letter-spacing: 0em;
        line-height: 1em;
        text-transform: none;
        color: $large-font;
        margin-bottom: 30px;
        @include media-breakpoint-up(lg){  
            font-size: 40px;
            letter-spacing: 0em;
            line-height: 1.2em;
         }
    }
    &__links{
        ul{
            padding: 0;
            margin-bottom: 0;
            li{
                list-style: none;
                display: inline-block;
                margin:5px;             
                color: $sky;
                &:last-child{
                    &::after{
                        display: none;
                    }
                }
                a{
                    color: $sky;
                    border-bottom: 1px solid $sky;
                    
                }
                &::after{
                    position: relative;
                    content: '-';
                    left: 6px;
                }
            }
        }
 
    }
    &__btns{
        margin-top: 30px;
    }
    &--heading{
   
        .cta-with-navigation__heading{
            color: $white;
            margin-bottom: 0;
        }
    }
    &--awards{
        text-align: left;
        .cta-with-navigation__heading{
            text-align: center;
            margin-bottom: 0;
        }
        .cta-with-navigation__awards-info{
           display: block;
           margin: 0;
            @include media-breakpoint-up(md){          
                display: flex;
                align-items: center;
                margin: 30px 0;
                }
        }
        .award-image {
            text-align: center;
        }
        .award-image img{
            width: 155px;
            margin-right: 0;
            @include media-breakpoint-up(md){          
                margin-right: 35px;
                }
        }
    }
    &--awards-innerpages{
        .cta-with-navigation__heading{           
            margin-bottom: 0;
        }
    }
}

.cta-links{
    display: block;
     align-items: center;
     justify-content: space-evenly;
     margin-top: 100px;
     @include media-breakpoint-up(md){    
         display: flex;
     }
     h6{
         display: inline-block;
     }
 }
 
 // dropdown design
 .select2-container{
     width: 100% !important;
 }
 .select2-container--default .select2-selection--single{
     background-color: transparent;
     border: none;
     border-radius: inherit;
 }
 .select2-container--default .selection{
     height: 50px;
     border: none;
     background: rgba(217, 217, 217, 0.5);
     border-radius: 50px;
     display: block;
 }
 .select2-container .select2-selection--single .select2-selection__rendered{
     padding: 10px 60px 10px 40px;
     color: #000;
     font-size: 22px;
 }
 .select2-container--default .select2-selection--single .select2-selection__arrow b{
     display: none;
 }
 .select2-selection__arrow{
     position: relative;
     transition: all 0.5s ease-in-out;
 }
 .select2-selection__arrow::after{
     font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f103";
     position: absolute;  
     font-size: 35px;
     line-height: 35px;
     color: #fff;
 
 }
 .select2-container--default .select2-selection--single .select2-selection__arrow{
     height: 50px;
     width: 50px;
     top: 0;
     right: 0;
     background-color: $orange;
     border-radius: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .select2-container--default .select2-search--dropdown .select2-search__field{
     display: none;
 }
 .select2-container--default .select2-results>.select2-results__options{
     max-height: 100%;
     overflow-y: hidden;
 }
 .select2-container--open .select2-dropdown{
     border: none;
     margin-top: 5px;
     border-radius: 16px;
     padding: 20px 10px;
 }
 .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
 background-color: transparent;
 // font-weight: 600;
 }
 .select2-container--default .select2-results__option .select2-results__option{
     color: #3B8D98;
     padding-left: 30px;
 }
 .select2-container--default .select2-results__option--selected {
     background-color: transparent;
 }
 .select2-container--default .select2-results__group{
  padding: 0px 30px 6px;
 }
 .select2-container--default .select2-results__option--group{
     border-left: 2px solid #D9D9D9;
     margin-left: 20px;
 }
 .select2-container--default .select2-results__option .select2-results__option:last-child{
     padding-bottom: 0;
 }
 
 .select2-container--open .select2-selection__arrow::after{
     transform: rotate(180deg);
     transition: all 0.5s ease-in-out;
 }
 .select2-container--open .select2-dropdown{
 position: relative;
 }
 .select2-container--open .select2-dropdown::after{
     //content:url('../../images/fav-icon.png') ;
     position: absolute;
     right: 5px;
     top: 20px;
 }
 .select2-container {
    width: 100% !important;
 @include media-breakpoint-up(lg) {
    width: 400px !important;
}
}