.three-column-module{
    &__block{
        margin: 0 10px 0;
        @include media-breakpoint-up(lg){
            margin: 0 40px 20px;
        }
        @include media-breakpoint-up(xl){
            margin: 0 65px 40px;
        }
    }
    &__image{
        text-align: center;
        margin-bottom: 30px;
        max-height: 300px;
    }
    &__col{
        padding: 0;
        @include media-breakpoint-up(lg){
            padding: 10px;
        }
    }
    &__btn{
        margin-top: 35px;
        a{
            margin: 0 !important;
        }
    }
    &__descreption{
        h5{
            font-weight: 600;
            font-style: normal;
            font-size: 16px;
            letter-spacing: .1em;
            line-height: 1.55em;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 20px;
        }
        p{
            font-size: 19px;
        }
    }
    &__form{
        background-color: $white;
        text-align: center;
        padding: 40px;
        border-radius: 30px;
        .form_logo{
            margin-bottom: 20px;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000;
            margin-bottom: 20px;
        }
        // form css

        .hs-form-private {
            display: block;
            input{
                width: 100%;
                height: 48px;
                background-color: rgba(217, 217, 217, 0.5);
                border: none;
                outline: none;
                padding: 10px 25px;
                border-radius: 50px;
                color: #000;
                &::placeholder{
                    color: #000 !important;
                    font-size: 16px;
                }
                
            }
          
            .hs_submit.hs-submit{
                margin-top: 30px;
            }
            .hs-error-msgs {
                margin: 0;
                padding: 0;
            }
        }
    }
}

