.team-slider {
    &__row{
        position: relative;
    }
    &__module {
        &:hover {
            .team-add {
                opacity: 1;
            }
        }

        position: relative;

        img {
            width: 100%;
            cursor: pointer;

        }

        .team-add {
            opacity: 0;
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: 996;
            height: auto;
            background: #000000b3;
            padding: 24px;
            transition: 350ms all;
            h6 {
                color: $white;
                font-size: 14px;
            }
            span {
                font-size: 13px;
                line-height: 1.4em;
                color: #999;
                display: block;
            }
        }
    }
}

.slick-dots li button:before{
    font-size: 20px;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    height: 30px;
    width: 30px;
    background-color: #00000075;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    i{
        color: #fff;
    }
}
.next-arrow{
    right: 30px;
}
.prev-arrow{
    left: 30px;
    z-index: 1;
}