.blog-innerpage {
    margin:50px 0 50px;

    &__heading {
        h1{
            font-size: 45px !important;
        }
        h3 {
            font-weight: 600;
            font-style: normal;
            font-size: 34px;
            letter-spacing: 0em;
            line-height: 1.5em;
            text-transform: none;
            color: $paragraph-font ;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &__category {
        color: $blog-category-color;
        margin: 10px 0;
        text-align: center;

        a {
            color: $blog-category-color;
            font-weight: 400;
            font-style: normal;
            font-size: 15px;
            text-transform: none;
        }

        span {
            font-weight: 400;
            font-style: normal;
            font-size: 15px;
            padding-left: 20px;
            position: relative;

            // &::after {
            //     content: '.';
            //     font-size: 30px;
            //     left: 5px;
            //     position: absolute;
            //     top: -8px
            // }
        }
    }

    &__authorinfo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;

        .author-image {
            img {
                height: 80px;
                width: 80px;
                margin-right: 30px;
            }
        }

        .author-name {
            span {
                display: block;
                font-size: 18px;
                line-height: 27px;
                font-family: "arboria",sans-serif;
            }
        }
    }

    &__descreption {

        // img{
        //     float: right;
        // }
        .image-left {
            float: none;
            margin-right: 0;
            width: 100%;
            @include media-breakpoint-up(lg){
                float: left;
                margin-right: 25px;
                width: 45%;
            }
            .img_box{
                padding: 10px;               
                margin-top: 10px;
                border-radius: 5px;
                font-size: 14px;
                line-height: 18px;
                width: 100%;
                display: block;
                img{
                    margin-right: 10px;
                    float: left;
                }
            }
            p {
                font-size: 14px;
                line-height: 20px;

                a {
                    color: #0595a8;
                    border-bottom: 1px solid #0595a84d;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
        .image-right {
            float: none;
            margin-left:0;
            width: 100%;
            @include media-breakpoint-up(lg){
                float: right;
            margin-left: 20px;
            width: 45%;
            }
            .img_box{
                padding: 10px;               
                margin-top: 10px;
                border-radius: 5px;
                width: 100%;
                display: block;
                font-size: 14px;
                line-height: 18px;
                img{
                    margin-right: 10px;
                    float: left;
                }
            }
            p {
                font-size: 14px;
                line-height: 18px;


                a {
                    color: #0595a8;
                    border-bottom: 1px solid #0595a84d;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }


        p {
            a {
                color: #0595a8;
                border-bottom: 1px solid #0595a84d;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        ul {
            li {
                margin-bottom: 10px;
            }
        }

        h4 {
            margin: 25px 0;

            em {
                height: 35px;
                width: 35px;
                font-style: normal;
                background-color: #0078d7;
                display: inline-flex;
                color: #fff;
                align-items: center;
                justify-content: center;
                border: 2px solid #000;
            }
        }
    }
}


.next-prev-blog{
    margin-bottom: 40px;
    .next-blog{
        text-align: left;
        font-size: 14px;
        color: #000;
        font-weight: 600;
        @include media-breakpoint-up(lg){
            text-align: right;
        }
        span{
            color: $orange;
            font-weight: 600;
            text-transform: uppercase;

        }
        p{
            font-size: 20px;
            font-weight: 600;
            color: #000;
            }
    }
    .previous-blog{
        font-size: 14px;
        color: #000;
        font-weight: 600;
        span{
            color: $orange;
            font-weight: 600;
            text-transform: uppercase;

        }
        p{
            font-size: 20px;
            font-weight: 600;
            color: #000;
            }
    }
}